:root {
    /* Font family */
    --font-family: 'Poppins', sans-serif;
    --font-family2: 'Roboto', sans-serif;

    /* Font Size */
    --first-head-size: 55px;
    --second-head-size: 46px;
    --third-head-size: 30px;
    --first-subhead-size: 16px; 

    --para-size: 18px;
    --para-size2: 20px;
    --link-size: 15px;

    --first-icon-size: 50px;
    --second-icon-size: 70px;
    --third-icon-size: 65px;

    /* Font Weight */
    --first-weight: 900;
    --second-weight: 700;
    --third-weight: 500;
    --fourth-weight: 400;

    /* Font Style */
    --font-style: normal;

    /* Line height */
    --main-head-height: 65.5px;
    --first-height: 57px;
    --second-height: 33px;
    --third-height: 27px;
    --fourth-height: 20px;
    --fifth-height:18px;

    /* Letter Spacing */
    --letter-spacing: 0.2px;
    --letter-spacing2: 0.1px;

    /* Background Color */
    --dark-background: linear-gradient(231deg, #CB1AE8 -0.37%, #37BDA6 100%);
    --light-background: #FFF;
    --ul-background: #cd1ae890;

    /* Text Color */
    --light-text: #FFF;
    --first-text: #2D3748;
    --second-text: #A0AEC0;
    
    /* Button Color */
    --primary: #4FD1C5;
    --secondary: #03D6F3;

    /* Button Color Hover */
    --ul-hover-color: rgba(204, 204, 204, 0.612);
    --hover-color: #1ae0fa;
    --hover-color2: #f6f6f6;
    --hover-color3: rgb(168, 168, 168);

    /* Button Color Active */
    --active-color: #17c7de;
    --active-color2: #dadada;
    --active-color3: rgb(150, 150, 150);

    /* Border */
    --button-radius: 39px;
    --block-radius: 10px;
    --input-text-radius: 6px;
    --img-radius: 5px;
    --img-map-radius: 22px;

    /* Icon */
    --icon-size: 30px;
    --icon-size2: 40px;

    /* Screen */
    --screen-size: 523px;
    --screen-size2: 768px;
    --screen-size3: 1060px;
}