@import url('global.css');

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
  }
    
  .container-4 {
    max-width :100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 63px 0;
    gap: 30px;
  }
  .infor-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .button-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: var(--first-subhead-size);
    color: var(--light-text);
    position: relative;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--third-weight);
    gap: 10px;
    white-space: nowrap;
    cursor: pointer;
  }
    
  .sign-up-4 {
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: var(--button-radius);
    background-color: var(--secondary);
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: 15px 80px;
    box-sizing: border-box;
  }

  .sign-up-4:hover {
    background-color: var(--hover-color);
  }

  .sign-up-4:active {
    background-color: var(--active-color);
  }
    
  .find-out-4 {
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: var(--button-radius);
    background-color: var(--light-background);
    border: 1px solid var(--primary);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: 15px 85px;
    color: var(--primary);
  }

  .find-out-4:hover {
    background-color: var(--hover-color2);
  }

  .find-out-4:active {
    background-color: var(--active-color2);
  }
    
  #pic4 {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  .headline-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    line-height: 1;
    gap: 10px;
    padding: 0 60px;
  }

  .headline-4 h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: var (--first-text);
    font-size: var(--second-head-size);
    font-style: var(--font-style);
    font-weight: var(--third-weight);
    line-height: var(--first-height); /* 123.913% */
    letter-spacing: var(--letter-spacing);
  }

  .paragraphe-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
  }

  .paragraphe-4 p {
    margin: 0 auto;
    overflow: hidden;
    color: var(--second-text);
    font-size: var(--first-subhead-size);
    font-style: var(--font-style);
    font-weight: var(--second-weight);
    line-height: var(--fourth-height); /* 125% */
    letter-spacing: var(--letter-spacing);  
  }
  
@media (min-width: 768px) {
}
  
@media (min-width: 1060px) { 
    .container-4 {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr); /* Thay đổi từ 3 cột thành 2 cột */
        grid-template-rows: repeat(2, auto); 
        padding-left: 50px;
        gap: 0;
    }
      
    .infor-4 {
        grid-row: 1;
        grid-column: 1;
    }
      
    .button-4 {
        grid-row: 2;
        grid-column: 1;
        flex-direction: row;
    }
      
    .pic-4 {
        grid-row: span 2;
        grid-column: 2; /* Di chuyển phần tử pic-4 sang cột thứ 2 */
    }
    
    .infor-4 {
        align-self: flex-end;
    }

    .headline-4 {
        font-size: var(--second-head-size);
        flex-direction: row;
        gap: 0;
    }

    .headline-4 h1 {
        margin-right: 12px;
    }

    .headline-4 h1:last-child {
        margin-right: 0;
    }

    .paragraphe-4 {
        margin: 30px 0;
        padding: 0 170px;
    }
    
    #pic4 {
        max-width: 900px;
        width: 100%;
    }

    .button-4 {
        align-self: flex-start; 
    
    }

    .sign-up-4 {
        padding: 18px 45px;
    }
    
    .find-out-4 {
        padding: 18px 55px;
    }
}
