@import url('global.css');

body {
    margin: 0 ;
    padding: 0;
    font-family: var(--font-family);
}

.container-7 {
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #CDCDCD;
}

.main1-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh; 
    margin: 0 auto; 
}

.headline-7 {  
    color: var (--first-text); 
    font-size: var(--second-head-size);
    font-style: var(--font-style);
    font-weight: var(--third-weight);
    line-height: var(--first-height);
    letter-spacing: var(--letter-spacing);
    margin: 5px;
}

.para1-7, .info-7 {
    margin: 25px;
}

.para1-7 {
    color: var(--second-text);
    font-size: var(--para-size);
    font-style: var(--font-style);
    font-weight: var(--fourth-weight);
    line-height: var(--third-height); /* 150% */
    letter-spacing: var(--letter-spacing);  
}

.email-input-7 {
    background: #EFEFEF;
    border: 1px solid #D0D0D0;
    font-size: var(--link-size);
    border-radius: var(--input-text-radius);
    padding: 20px 100px;
}

.email-input-7:hover {
    background-color: rgba(226, 226, 226, 0.886);
}

.email-input-7::placeholder {
    font-size: 14px; 
    font-weight: var(--second-weight); 
    color: var(--second-text);
}


.button-sup-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFEFEF;
    background-color: var(--secondary);
    font-size: var(--first-subhead-size);
    font-style: var(--font-style);
    font-weight: var(--third-weight);
    line-height: 16px;
    letter-spacing: var(--letter-spacing); 
    border-radius: var(--block-radius);
    padding: 20px 100px;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.button-sup-7:hover {
    background-color: var(--hover-color);
}

.button-sup-7:active {
    background-color: var(--active-color);
}

.main2-7 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: rgba(34, 49, 64, 0.998);
    color: var(--light-text);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}

.items-7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(249, 249, 249, 0.973);
    gap: 50px;
}

.itemslist-7 {
    gap: 50px;
}

.items1list-7, .items2list-7 {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.para2-7 {
    font-size: smaller;
    font-weight: bold; 
}

#pic-7 {
    width: 100%;
    max-width: 300px;
    border-radius: var(--img-map-radius);
    cursor: alias;
}

.icon-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(249, 249, 249, 0.973);
    gap: 20px;
}

.number-7 a {
    color: rgba(249, 249, 249, 0.973);
}

.local-text-7, .number-7, .facebook-7, .in-7 {
    margin-left: 20px;
}

i {
    font-size: var(--icon-size);
}

.info-7, .main2-7, .itemslist-7, 
 .social-7, .local-7, .phone-7 {
    display: flex;
}

.info-7 {
    flex-direction: column;
    gap: 10px;
}

#twitter, #facebook, #intar {
    cursor: pointer;
}

@media (min-width:1060px) {
    .para1-7 {
        margin: 10px 10px 50px 10px;
    }

    .email-input-7 {
        font-size: var(--para-size2);
        padding: 15px 40px;
    }

    .button-sup-7 {
        margin-left: 10px;
        padding: 15px 45px;
        border-radius: var(--button-radius);
        font-size: large;
    }

    .main2-7 {
        flex-direction: row;
        height: 35vh;
    }

    .para2-7 {
        width: 250px;   
    }

    #pic-7 {
        max-width: 400px;
    }

    .info-7 {
        flex-direction: row;
    }
}