body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.bigheadline-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    height: 300px;
    padding: 40px 0;
}

.headline-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headline-6 h2 {
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 57px; /* 123.913% */
    letter-spacing: 0.2px;
}

.para-6 {
    font-size: 20px;
    color: #A0AEC0;
}

#pic6-1, #pic6-2, #pic6-3 {
    max-width: 200px;
    width: 100%;
}

.infor-6 {
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.block1-6, .block2-6, .block3-6 {
    border: 1px solid #DEDEDE;
    /* box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.bigheadline-bl1-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.bigheadline-bl2-6, .bigheadline-bl3-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
}

.head-bl1-6, .head-bl2-6, .head-bl3-6 {
    font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 33px; /* 110% */
letter-spacing: 0.1px;  
}

.head-bl1-6 h3, .head-bl2-6 h3, .head-bl3-6 h3 {
    margin: 0 0;
}

.smhead-bl1-6, .smhead-bl2-6, .smhead-bl3-6 {
    color: #A0AEC0;
    font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 150% */
letter-spacing: 0.1px;
}

.smhead-bl2-6 {
    padding-right: 30px;
}

.price-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberprice-6 {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 65.5px; /* 119.091% */
    letter-spacing: 0.2px;
    color: #4FD1C5;
}

.icon-6 {
    font-size: 30px;
    color: #4FD1C5;
}

.infordollar-6 {
    color: #A0AEC0;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
    letter-spacing: 0.1px;
}

.para-bl1-6, .para-bl2-6, .para-bl3-6 {
    text-align: center;
    gap: 60px;
    font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 180% */
letter-spacing: 0.2px;
}

.efp-bl-6 {
    color: #A0AEC0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
    letter-spacing: 0.2px;
}

.button-bl1-6, .button-bl2-6, .button-bl3-6 {
    color: #FFF;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    background-color: #03d6f3;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: 18px 90px;
    box-sizing: border-box;
    margin: 20px 0;
    cursor: pointer;
}

.button-bl1-6:hover, .button-bl2-6:hover, .button-bl3-6:hover{
    background-color: #1ae0fa;
}

.button-bl1-6:active, .button-bl2-6:active, .button-bl3-6:active{
    background-color: #17c7de;
}

@media (min-width: 1060px) {
    .bigheadline-6 {
        max-width: 700px;
    }

    .infor-6 {
        flex-direction: row;
    }
}