@import url('global.css');

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}
  
.container-5 {
  max-width :100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 63px 0;
  gap: 30px;
}

.button-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--first-subhead-size);
  color: var(--light-text);
  position: relative;
  letter-spacing: var(--letter-spacing);
  font-weight: var(--third-weight);
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
}
  
.sign-up-5 {
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: var(--button-radius);
  background-color: var(--secondary);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 25px 60px;
  box-sizing: border-box;
}

.sign-up-5:hover {
  background-color: var(--hover-color);
}

.sign-up-5:active {
  background-color: var(--active-color);
}
  
.find-out-5 {
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: var(--button-radius);
  background-color: var(--light-background);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 25px 68px;
  color: var(--primary);
}

.find-out-5:hover {
  background-color: var(--hover-color2);
}

.find-out-5:active {
  background-color: var(--active-color2);
}
  
#pic5 {
  max-width: 400px;
  width: 100%;
  height: auto;
}
 
.headline-5 {
  text-align: center;
  overflow: hidden;
  line-height: 1;
}

.headline-5 h1 {
  color: var (--first-text);
  font-size: var(--second-head-size);
  font-style: var(--font-style);
  font-weight: var(--third-weight);
  line-height: var(--first-height); /* 123.913% */
  letter-spacing: var(--letter-spacing);
  margin: 0;
}
  
.paragraphe-5 p {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  overflow: hidden;
  padding: 30px 10px;
  color: var(--second-text);
  font-size: var(--para-size);
  font-style: var(--font-style);
  font-weight: var(--fourth-weight);
  line-height: var(--third-height); /* 150% */
  letter-spacing: var(--letter-spacing);
}

@media (min-width: 768px) {
}

@media (min-width: 1060px) { 
  .container-5 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    padding-left: 50px;
  }
  
  .infor-5 {
    grid-row: 1;
    grid-column: 1;
  }
  
  .button-5 {
    grid-row: 2;
    grid-column: 1;
    flex-direction: row;
  }
  
  .pic-5 {
    grid-row: span 2;
    grid-column: span 2;
  }

  .headline-5 {
    text-align: left;
    margin-left: 80px;
    font-size: x-large;
  }
  
  .paragraphe-5 p {
    margin: 0 0 0 80px;
    padding: 30px 30px 0 0;
    text-align: left;
    height: auto;
  }
  
  #pic5 {
    max-width: 900px;
    width: 100%;
  }

  .button-5 {
    margin-left: 30px;
  }

  .sign-up-5 {
    padding: 20px 36px;
  }

  .find-out-5 {
    padding: 20px 43px;
  }
}